USE [master]
GO
/****** Object:  Database [personalaccountingapp_db]    Script Date: 25/04/2023 10:24:02 p. m. ******/
CREATE DATABASE [personalaccountingapp_db]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'personalaccountingapp_db', FILENAME = N'D:\dev\personalaccountingapp\personalaccountingapp_db\personalaccountingapp_db.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'personalaccountingapp_db_log', FILENAME = N'D:\dev\personalaccountingapp\personalaccountingapp_db\personalaccountingapp_db_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [personalaccountingapp_db].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [personalaccountingapp_db]
GO
/****** Object:  Table [dbo].[BUDGET]    Script Date: 25/04/2023 10:24:02 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BUDGET](
	[ID] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[NAME] [nvarchar](50) NOT NULL,
	[STARTDATE] [date] NOT NULL,
	[ENDDATE] [date] NOT NULL,
	[USERID] [numeric](18, 0) NOT NULL,
	[STATEID] [numeric](18, 0) NOT NULL,
	[CREATEAT] [datetime] NOT NULL,
	[UPADATEAT] [datetime] NULL,
 CONSTRAINT [PK_BUDGET] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ITEM]    Script Date: 25/04/2023 10:24:02 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ITEM](
	[ID] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[NAME] [nvarchar](50) NOT NULL,
	[STATEID] [numeric](18, 0) NOT NULL,
	[CREATEAT] [datetime] NOT NULL,
	[UPDATEAT] [datetime] NULL,
 CONSTRAINT [PK_ITEM] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[STATE]    Script Date: 25/04/2023 10:24:02 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[STATE](
	[ID] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[NAME] [nchar](10) NOT NULL,
 CONSTRAINT [PK_STATE] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TRANSACTION]    Script Date: 25/04/2023 10:24:02 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TRANSACTION](
	[ID] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[BUDGETID] [numeric](18, 0) NOT NULL,
	[TYPEID] [numeric](18, 0) NOT NULL,
	[STARTDATE] [date] NOT NULL,
	[ENDDATE] [date] NOT NULL,
	[ITEMID] [numeric](18, 0) NOT NULL,
	[VALOR] [float] NOT NULL,
	[USERID] [numeric](18, 0) NOT NULL,
	[STATEID] [numeric](18, 0) NOT NULL,
	[CREATEAT] [datetime] NOT NULL,
	[UPDATEAT] [datetime] NULL,
 CONSTRAINT [PK_TRANSACTION] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TYPETRANSACCTION]    Script Date: 25/04/2023 10:24:02 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TYPETRANSACCTION](
	[ID] [numeric](18, 0) NOT NULL,
	[NAME] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_TYPETRANSACCTION] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USER]    Script Date: 25/04/2023 10:24:02 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USER](
	[ID] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[NAME] [nvarchar](50) NOT NULL,
	[LASTNAME] [nvarchar](50) NULL,
	[MOVILPHONE] [nvarchar](50) NOT NULL,
	[EMAIL] [nvarchar](256) NOT NULL,
	[USERNAME] [nvarchar](50) NOT NULL,
	[PASSWORD] [nvarchar](50) NOT NULL,
	[STATEID] [numeric](18, 0) NOT NULL,
	[CREATEAT] [datetime] NOT NULL,
	[UPDATEAT] [datetime] NULL,
 CONSTRAINT [PK_USER] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[BUDGET] ON 

INSERT [dbo].[BUDGET] ([ID], [NAME], [STARTDATE], [ENDDATE], [USERID], [STATEID], [CREATEAT], [UPADATEAT]) VALUES (CAST(2 AS Numeric(18, 0)), N'PersonalAccounting', CAST(N'2023-04-01' AS Date), CAST(N'2023-04-30' AS Date), CAST(1 AS Numeric(18, 0)), CAST(1 AS Numeric(18, 0)), CAST(N'2023-04-25T22:00:56.247' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[BUDGET] OFF
GO
SET IDENTITY_INSERT [dbo].[ITEM] ON 

INSERT [dbo].[ITEM] ([ID], [NAME], [STATEID], [CREATEAT], [UPDATEAT]) VALUES (CAST(1 AS Numeric(18, 0)), N'CUOTA CREDITO', CAST(1 AS Numeric(18, 0)), CAST(N'2023-04-25T22:15:45.150' AS DateTime), NULL)
INSERT [dbo].[ITEM] ([ID], [NAME], [STATEID], [CREATEAT], [UPDATEAT]) VALUES (CAST(2 AS Numeric(18, 0)), N'ADM. MOSTAZA', CAST(1 AS Numeric(18, 0)), CAST(N'2023-04-25T22:15:45.150' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[ITEM] OFF
GO
SET IDENTITY_INSERT [dbo].[STATE] ON 

INSERT [dbo].[STATE] ([ID], [NAME]) VALUES (CAST(1 AS Numeric(18, 0)), N'ENABLED   ')
INSERT [dbo].[STATE] ([ID], [NAME]) VALUES (CAST(2 AS Numeric(18, 0)), N'DISABLED  ')
SET IDENTITY_INSERT [dbo].[STATE] OFF
GO
SET IDENTITY_INSERT [dbo].[TRANSACTION] ON 

INSERT [dbo].[TRANSACTION] ([ID], [BUDGETID], [TYPEID], [STARTDATE], [ENDDATE], [ITEMID], [VALOR], [USERID], [STATEID], [CREATEAT], [UPDATEAT]) VALUES (CAST(5 AS Numeric(18, 0)), CAST(2 AS Numeric(18, 0)), CAST(1 AS Numeric(18, 0)), CAST(N'2023-04-25' AS Date), CAST(N'2023-04-30' AS Date), CAST(1 AS Numeric(18, 0)), 30000, CAST(1 AS Numeric(18, 0)), CAST(1 AS Numeric(18, 0)), CAST(N'2023-04-25T22:15:45.150' AS DateTime), NULL)
INSERT [dbo].[TRANSACTION] ([ID], [BUDGETID], [TYPEID], [STARTDATE], [ENDDATE], [ITEMID], [VALOR], [USERID], [STATEID], [CREATEAT], [UPDATEAT]) VALUES (CAST(7 AS Numeric(18, 0)), CAST(2 AS Numeric(18, 0)), CAST(2 AS Numeric(18, 0)), CAST(N'2023-04-25' AS Date), CAST(N'2023-04-30' AS Date), CAST(2 AS Numeric(18, 0)), 1000000, CAST(1 AS Numeric(18, 0)), CAST(1 AS Numeric(18, 0)), CAST(N'2023-04-25T22:15:45.150' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[TRANSACTION] OFF
GO
INSERT [dbo].[TYPETRANSACCTION] ([ID], [NAME]) VALUES (CAST(1 AS Numeric(18, 0)), N'INCOMEN')
INSERT [dbo].[TYPETRANSACCTION] ([ID], [NAME]) VALUES (CAST(2 AS Numeric(18, 0)), N'EXPENSES')
GO
SET IDENTITY_INSERT [dbo].[USER] ON 

INSERT [dbo].[USER] ([ID], [NAME], [LASTNAME], [MOVILPHONE], [EMAIL], [USERNAME], [PASSWORD], [STATEID], [CREATEAT], [UPDATEAT]) VALUES (CAST(1 AS Numeric(18, 0)), N'GUSTAVO', N'RESTREPO', N'3164977187', N'garestrepop@gmail.com', N'garestrepo', N'passwordsecret', CAST(1 AS Numeric(18, 0)), CAST(N'2023-04-25T22:00:56.247' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[USER] OFF
GO
ALTER TABLE [dbo].[BUDGET]  WITH CHECK ADD  CONSTRAINT [FK_BUDGET_USER] FOREIGN KEY([USERID])
REFERENCES [dbo].[USER] ([ID])
GO
ALTER TABLE [dbo].[BUDGET] CHECK CONSTRAINT [FK_BUDGET_USER]
GO
ALTER TABLE [dbo].[TRANSACTION]  WITH CHECK ADD  CONSTRAINT [FK_TRANSACTION_BUDGET] FOREIGN KEY([BUDGETID])
REFERENCES [dbo].[BUDGET] ([ID])
GO
ALTER TABLE [dbo].[TRANSACTION] CHECK CONSTRAINT [FK_TRANSACTION_BUDGET]
GO
ALTER TABLE [dbo].[TRANSACTION]  WITH CHECK ADD  CONSTRAINT [FK_TRANSACTION_ITEM] FOREIGN KEY([ITEMID])
REFERENCES [dbo].[ITEM] ([ID])
GO
ALTER TABLE [dbo].[TRANSACTION] CHECK CONSTRAINT [FK_TRANSACTION_ITEM]
GO
ALTER TABLE [dbo].[TRANSACTION]  WITH CHECK ADD  CONSTRAINT [FK_TRANSACTION_TYPETRANSACCTION] FOREIGN KEY([TYPEID])
REFERENCES [dbo].[TYPETRANSACCTION] ([ID])
GO
ALTER TABLE [dbo].[TRANSACTION] CHECK CONSTRAINT [FK_TRANSACTION_TYPETRANSACCTION]
GO
USE [master]
GO
